.message-list {
    border: 1px solid #ccf;
    font-size: 16px;
    height: 400px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.message-section {
    float: right;
    width: 65%;
}

.message-list-item {
    list-style: none;
    padding: 12px 14px 14px;
}

.message-time {
    color: #aad;
    float: right;
    font-size: 12px;
}

.message-text {
    clear: both;
    font-size: 14px;
    padding-top: 10px;
}

.message-composer {
    box-sizing: border-box;
    font-size: 14px;
    height: 5em;
    width: 100%;
    padding: 10px;
}